
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/Content/css/sign_in.css">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <meta charset="utf-8">
</head>
<body>
    <div class="header">
        <div class="header__row">
            <div class="header__title">
                <a href="@Url.Action("Index","Home",new {page = 1})">
                    <div class="header__logo">
                        <span>σ</span>
                    </div>
                </a>
                <a href="@Url.Action("Index","Home",new {page = 1})">
                    <div class="header__info">
                        <div class="header__name">Sigma</div>
                        <div class="header__tagname">Where your portfolio starts</div>
                    </div>
                </a>
            </div>
            <div class="header__links">
                <a href="@Url.Action("MyPortfolio", "Home")" class="my_portfolio">My portfolio</a>
                <a href="@Url.Action("AboutPage","Home")" class="about">About</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sign_in">
            <h1>Sign in</h1>
            <div class="sign__row">
                <form asp-controller="Home" asp-action="Sign_in" method="post">
                    <div class="form__row">
                        <input type="text" class="email" name="email" placeholder="Email" required>
                        <input type="password" class="password" name="password" placeholder="Password" required>
                        <button type="submit" id="btn1" class="button">Continue</button>
                    </div>
                </form>
                <div class="regist__row">
                    <div class="regist__text">New here?</div>
                    <a href="@Url.Action("Sign_up","Home")" class="regist__link"><div class="regist__block">Sign up</div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        Sigma 2022
    </div>
</body>
</html>