@model ValueTuple<List<Sigma.Models.Project>, Sigma.Models.User,List<bool>>
@{
    Layout = "//Views//MasterViewUserPage.cshtml";
}

<div class="header">
    <div class="header__row">
        <div class="header__title">
            <a href="@Url.Action("Index","Home",new {page = 1})">
                <div class="header__logo">
                    <span>σ</span>
                </div>
            </a>
            <a href="@Url.Action("Index","Home",new {page = 1})">
                <div class="header__info">
                    <div class="header__name">Sigma</div>
                    <div class="header__tagname">Where your portfolio starts</div>
                </div>
            </a>
        </div>
        <div class="header__links">
            <a href="@Url.Action("MyPortfolio", "Home")" class="my_portfolio">My portfolio</a>
            @if (Model.Item3[0])
            {
            <div class="actions_dropdown">
                <div class="actions">Actions</div>
                <div class="actions_content">
                    <form>
                        <button class="edit">Edit my profile</button>
                    </form>
                    <form>
                        <button class="add_project">Add project</button>
                    </form>
                    <a href="@Url.Action("DeleteProfile" , "Home")">
                        <button type="submit" class="delete">Delete profile</button>
                    </a>
                </div>
            </div>
            }
            <a href="@Url.Action("AboutPage","Home")" class="about">About</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="user_info__row">
        <div class="user_title">
            <div class="user_image">
                <image class="image" src="@Model.Item2.avatarUrl" alt=""></image>
            </div>
            <div class="user_info">
                <div class="user_name">@Model.Item2.Name</div>
                <div class="user_position">@Model.Item2.position</div>
            </div>
        </div>
        <div class="user_links">
            <a href="#" target="_blanc">
                <div class="user_link_border">
                    <image class="user_link_image" src="img/links_icons/LinkedinLogo.png" alt=""></image>
                </div>
            </a>
            <a href="#" target="_blanc">
                <div class="user_link_border">
                    <image class="user_link_image" src="img/links_icons/MediumLogo.png" alt=""></image>
                </div>
            </a>
            <a href="#" target="_blanc">
                <div class="user_link_border">
                    <image class="user_link_image" src="img/links_icons/GithubLogo.png" alt=""></image>
                </div>
            </a>
            <a href="#" target="_blanc">
                <div class="user_link_border">
                    <image class="user_link_image" src="img/links_icons/FacebookLogo.png" alt=""></image>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="markdown__row">
        <div class="markdown__title">Markdown text title</div>
        <div class="markdown__text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, </div>
    </div>
</div>
<div class="container">
    <div class="projects__row">
        @for (int i = 0; i < Model.Item1.Count; i++)
        {
            if (i > 5)
            {
                break;
            }
            var project = Model.Item1[i];
            <div class="project__item">
                <div class="item__image"></div>
                <div class="item__name">@project.Title</div>
                <div class="item__techs">
                    <div class="item__tech">@project.technology</div>
                </div>
                <div class="item__distr">@project.Description</div>
            </div>
        }
    </div>
</div>
@if (Model.Item1.Count > 6)
{
    <a href="#">
        <div class="container">
            <div class="all_projects">
                See all
            </div>
        </div>
    </a>
}