@model ValueTuple<List<Sigma.Models.Project>, Sigma.Models.User, bool, List<Sigma.Models.Link>>
@using MarkdownSharp;
@{
    Layout = "//Views//MasterViewUserPage.cshtml";
} 

<div class="header">
    <div class="header__row">
        <div class="header__title">
            <a href="@Url.Action("Index","Home",new {page = 1})">
                <div class="header__logo">
                    <span>σ</span>
                </div>
            </a>
            <a href="@Url.Action("Index","Home",new {page = 1})">
                <div class="header__info">
                    <div class="header__name">Sigma</div>
                    <div class="header__tagname">Where your portfolio starts</div>
                </div>
            </a>
        </div>
        <div class="header__links">
            @if (Model.Item3)
            {
                <a href="@Url.Action("MyPortfolio", "Home")" class="own_portfolio">My portfolio</a>
            }
            else
            {
                <a href="@Url.Action("MyPortfolio", "Home")" class="my_portfolio">My portfolio</a>
            }
            @if (Model.Item3)
            {
                <div class="actions_dropdown">
                    <div class="actions">Actions</div>
                    <div class="actions_content">
                        <a href="@Url.Action("EditUserPage","Home")">
                            <div class="edit">Edit my profile</div>
                        </a>
                        <a href="@Url.Action("AddProject","Home")">
                            <div class="add_project">Add project</div>
                        </a>
                        <a href="@Url.Action("ExitProfile","Home")">
                            <div class="exit_profile">Exit profile</div>
                        </a>
                        <a href="@Url.Action("DeleteProfile" , "Home")">
                            <div class="delete">Delete profile</div>
                        </a>
                    </div>
                </div>
            }
            <a href="@Url.Action("AboutPage","Home")" class="about">About</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="user_info__row">
        <div class="user_title">
            <div class="user_image">
                <image class="image" src="@Model.Item2.avatarUrl" alt=""></image>
            </div>
            <div class="user_info">
                <div class="user_name">@Model.Item2.Name</div>
                <div class="user_position">@Model.Item2.position</div>
            </div>
        </div>
        <div class="user_links">
            @foreach (var link in Model.Item4)
                {
                <a href="@link.Link1" target="_blanc">
                    <div class="user_link_border">
                        <image class="user_link_image" src="@link.provider_avatar" alt=""></image>
                    </div>
                </a>
                }
        </div>
    </div>
</div>
<div class="container">
    <div class="markdown__row">
        @if (true)
        {
            Markdown markdown = new Markdown();
            string markdown_text = markdown.Transform(Model.Item2.about);
            <div class="markdown__text">@Html.Raw(markdown_text)</div>
        }
    </div>
</div>
<div class="container">
    <div class="projects__row">
        @if (true)
        {
            var sort_model = Sigma.Sorting.Selected_sort(Model.Item1);
            for (int i = 0; i < sort_model.Count; i++)
            {
                var project = sort_model[i];
                if (i < 6)
                {
                    Markdown markdown = new Markdown();
                    string markdown_text = markdown.Transform(project.About);
                    var technos = project.technology.Split(',');
                    <a href="@Url.Action("ProjectPage", "Home", new { item_id = project.Id })" class="project__item-active">
                        <div class="item__image" style="background-image:url('@project.PhotoUrl')"></div>
                        <div class="item__name">@project.Title</div>
                        <div class="item__techs">
                            @foreach (var techno in technos)
                            {
                                <div class="item__tech">@techno</div>
                            }
                            </div>
                        <div class="item__distr">@Html.Raw(markdown_text)</div>
                    </a>
                }
            }
        }
    </div>
</div>
@if (Model.Item1.Count > 6)
{
    <div class="all_projects_block">
        <div class="container">
            <a href="@Url.Action("AllProjects","Home",new {page = 1,item_id = Model.Item2.Id})" class="all_projects">
                See all
            </a>
        </div>
    </div>
}